.exe
.git

saves/
images/
emodjis/
__pycache__/
bot_commands/__pycache__/
settings/__pycache__/
settings/logs.log
instruments/__pycache__/

future.txt

.idea
.idea/
.iws

# Environments
.env
.venv
env/
venv/
ENV/

