# Git files
.git/

# Virtual environment
venv/

# Byte-compiled
__pycache__/

# Distribution / packaging / PyInstaller
*.spec
.idea/

# Files created by script and user data
bot/saves/
bot/images/
bot/settings/logger/logs.log

# Files by static code analysis - SonarQube
.scannerwork/

# Secrets
bot/settings/secrets.py
