.git/

# Ignoring files created by script
saves/
images/
settings/logs.log
# Ignoring pycaches
__pycache__/
bot_commands/__pycache__/
settings/__pycache__/
instruments/__pycache__/
# Ignoring secrets
settings/secrets.py
# Ignoring differents python interpretator and venv files
.spec
.idea/
venv/

