aiohttp==3.7.3
aiounittest==1.4.0
altgraph==0.17
async-timeout==3.0.1
attrs==20.3.0
bcrypt==3.2.0
cached-property==1.5.2
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cryptography==3.3.1
discord==1.0.1
discord.py==1.6.0
distro==1.5.0
dnspython==2.1.0
docker==4.4.1
docker-compose==1.27.4
dockerpty==0.4.1
docopt==0.6.2
idna==2.10
jeepney==0.6.0
jsonconfig-tool==1.5
jsonschema==3.2.0
keyring==21.8.0
motor==2.3.0
multidict==5.1.0
numpy==1.19.5
opencv-python==4.5.1.48
paramiko==2.7.2
Pillow==8.1.0
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pymongo==3.11.2
PyNaCl==1.4.0
pyrsistent==0.17.3
python-box==5.2.0
python-dotenv==0.15.0
PyYAML==5.3.1
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
SecretStorage==3.3.0
six==1.15.0
texttable==1.6.3
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
validus==0.3.0
websocket-client==0.57.0
websockets==8.1
wrapt==1.12.1
yarl==1.6.3
