aiohttp==3.7.3
altgraph==0.17
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
discord==1.0.1
discord.py==1.5.1
dnspython==2.0.0
idna==2.10
jeepney==0.6.0
jsonconfig-tool==1.5
keyring==21.7.0
motor==2.3.0
multidict==5.1.0
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==8.0.1
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pymongo==3.11.2
python-box==5.2.0
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
SecretStorage==3.3.0
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
validus==0.3.0
websockets==8.1
yarl==1.6.3
