aiohttp==3.7.4
altgraph==0.17
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==3.3.2
discord==1.0.1
discord.py==1.3.4
dnspython==1.16.0
idna==2.9
jeepney==0.4.3
jsonconfig-tool==1.5
keyring==21.2.1
multidict==4.7.5
numpy==1.18.2
opencv-python==4.2.0.34
Pillow==8.3.2
pycparser==2.20
PyInstaller==3.6
pymongo==3.10.1
python-box==4.2.3
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
SecretStorage==3.1.2
six==1.15.0
toml==0.10.1
urllib3==1.26.5
validus==0.3.0
websockets==9.1
yarl==1.4.2
