aiohttp==3.8.1
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
discord-py-slash-command==3.0.1
discord.py==1.7.3
dnspython==2.1.0
idna==3.3
motor==2.5.1
multidict==5.2.0
numpy==1.22.0
opencv-python==4.5.4.60
Pillow==9.3.0
pymongo==3.12.0
typing-extensions==4.0.1
yarl==1.7.2
